<div class="row">

 <div class="col-8 mx-auto mt-4">
    <div class="form-group form-row">
      <label for="drpSearchBy" class="col-form-label col-3">Search:</label>
      <div class="col-9">
        <select class="form-control" id="drpSearchBy" name="SearchBy" [(ngModel)]="searchBy">
          <option value="ProjectID">Project ID</option>
          <option value="ProjectName">Project Name</option>
          <option value="DateOfStart">Date of Start</option>
          <option value="TeamSize">Team Size</option>
        </select>
      </div>
    </div>
	
    <div class="form-group form-row">
      <label for="textSearchText" class="col-form-label col-3">Search:</label>
      <div class="col-9">
        <div class="input-group">
          <input type="text" class="form-control" id="txtSearchText" name="SearchText" [(ngModel)]="searchText">
          <div class="input-group-append" (click)="onSearchClick()">
             <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="col-8 mx-auto">
    <h2>Projects</h2>
    <div class="text-right">
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-primary mb-3"
        data-toggle="modal"
        data-target="#addModal"
      >
        Add New Project
      </button>
    </div>

    <table class="table">
      <thead>
        <th>ID</th>
        <th>Project ID</th>
        <th>Project Name</th>
        <th>Date of Start</th>
        <th>Team Size</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th colspan="2">Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects; let i = index">
          <td>{{ project.id }}</td>
          <td>{{ project.ProjectID }}</td>
          <td>{{ project.ProjectName }}</td>
          <td>{{ project.DateOfStart }}</td>
          <td>{{ project.TeamSize }}</td>
          <td>{{ project.created_at }}</td>
          <td>{{ project.updated_at }}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary mb-3"
              data-toggle="modal"
              data-target="#editModal"
              (click)="onEditClick($event, i)"
            >
              Edit
            </button>
          </td>

          <td>
            <button
              type="button"
              class="btn btn-danger mb-3"
              data-toggle="modal"
              data-target="#deleteModal"
              (click)="onDeleteClick($event, i)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Add New Project Modal -->
<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">New Project</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="ProjectID">Project ID</label>
            <input
              type="text"
              class="form-control"
              id="ProjectID"
              name="ProjectID"
              placeholder="Project ID"
              [(ngModel)]="newProject.ProjectID"
            />
          </div>

          <div class="form-group">
            <label for="ProjectName">Project Name</label>
            <input
              type="text"
              class="form-control"
              id="ProjectName"
              name="ProjectName"
              placeholder="Project Name"
              [(ngModel)]="newProject.ProjectName"
            />
          </div>

          <div class="form-group">
            <label for="DateOfStart">Date Of Start</label>
            <input
              type="date"
              class="form-control"
              id="DateOfStart"
              name="DateOfStart"
              placeholder="YYYY-MM-DD"
              [(ngModel)]="newProject.DateOfStart"
            />
          </div>

          <div class="form-group">
            <label for="TeamSize">Team Size</label>
            <input
              type="number"
              class="form-control"
              id="TeamSize"
              name="TeamSize"
              placeholder="Team Size"
              [(ngModel)]="newProject.TeamSize"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="onSaveClick()"
          data-dismiss="modal"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Project Modal -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">New Project</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="txtEditProjectID">Project ID</label>
            <input
              type="text"
              class="form-control-plaintext"
              id="txtEditProjectID"
              name="ProjectID"
              placeholder="Project ID"
              [(ngModel)]="editProject.ProjectID"
              disabled="disabled"
            />
          </div>

          <div class="form-group">
            <label for="txtEditProjectName">Project Name</label>
            <input
              type="text"
              class="form-control"
              id="txtEditProjectName"
              name="ProjectName"
              placeholder="Project Name"
              [(ngModel)]="editProject.ProjectName"
            />
          </div>

          <div class="form-group">
            <label for="txtEditDateOfStart">Date Of Start</label>
            <input
              type="date"
              class="form-control"
              id="txtEditDateOfStart"
              name="DateOfStart"
              placeholder="YYYY-MM-DD"
              [(ngModel)]="editProject.DateOfStart"
            />
          </div>

          <div class="form-group">
            <label for="txtEditTeamSize">Team Size</label>
            <input
              type="number"
              class="form-control"
              id="txtEditTeamSize"
              name="TeamSize"
              placeholder="Team Size"
              [(ngModel)]="editProject.TeamSize"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="onUpdateClick()"
          data-dismiss="modal"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Project Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Project</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-warning">Are you sure to delete this project?</div>

        <form>
          <div class="form-group">
            <label for="txtDeleteProjectID">Project ID</label>
            <input
              type="text"
              class="form-control-plaintext"
              id="txtDeleteProjectID"
              name="ProjectID"
              placeholder="Project ID"
              [(ngModel)]="deleteProject.ProjectID"
              disabled="disabled"
            />
          </div>

          <div class="form-group">
            <label for="txtDeleteProjectName">Project Name</label>
            <input
              type="text"
              class="form-control"
              id="txtDeleteProjectName"
              name="ProjectName"
              placeholder="Project Name"
              [(ngModel)]="deleteProject.ProjectName"
              disabled="disabled"
            />
          </div>

          <div class="form-group">
            <label for="txtDeleteDateOfStart">Date Of Start</label>
            <input
              type="date"
              class="form-control"
              id="txtDeleteDateOfStart"
              name="DateOfStart"
              placeholder="YYYY-MM-DD"
              [(ngModel)]="deleteProject.DateOfStart"
              disabled="disabled"
            />
          </div>

          <div class="form-group">
            <label for="txtDeleteTeamSize">Team Size</label>
            <input
              type="number"
              class="form-control"
              id="txtDeleteTeamSize"
              name="TeamSize"
              placeholder="Team Size"
              [(ngModel)]="deleteProject.TeamSize"
              disabled="disabled"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="onDeleteConfirmClick()"
          data-dismiss="modal"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
